<a href="https://colab.research.google.com/github/victoria2012/test_visualization/blob/master/autompg_linearregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 로딩

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('./auto-mpg.csv', header=None)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [13]:
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']
df

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...       1  chevrolet chevelle malibu
1    15.0          8  ...       1          buick skylark 320
2    18.0          8  ...       1         plymouth satellite
3    16.0          8  ...       1              amc rebel sst
4    17.0          8  ...       1                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...       1            ford mustang gl
394  44.0          4  ...       2                  vw pickup
395  32.0          4  ...       1              dodge rampage
396  28.0          4  ...       1                ford ranger
397  31.0          4  ...       1                 chevy s-10

[398 rows x 9 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [15]:
df[['horsepower','name']].describe(include='all')

       horsepower        name
count         398         398
unique         94         305
top         150.0  ford pinto
freq           22           6

## replace()

In [16]:
df['horsepower'].value_counts()

150.0    22
90.00    20
88.00    19
110.0    18
100.0    17
         ..
208.0     1
122.0     1
91.00     1
132.0     1
93.00     1
Name: horsepower, Length: 94, dtype: int64

In [ ]:
df['horsepower'].astype('float64')           # 이렇게 하면 안된다는 것을 확인하는 차원에서 들어간 코드임

In [ ]:
df['horsepower'].unique()

In [ ]:
df_horsepower = df['horsepower'].replace(to_replace='?', value=None, inplace=False)     # ?를 None으로 바꾸면 통계값을 빼낼 수 있다. 
# type(df_horsepower)
df_horsepower.unique()

In [20]:
df_horsepower = df_horsepower.astype('float')

In [21]:
df_horsepower.mean()

104.178391959799

In [ ]:
df['horsepower'] = df_horsepower.fillna(104)
df.info()

In [ ]:
df['name'].unique()

## 분류와 연속 컬럼 구분

In [25]:
df.head(8)     # acceleration은 소숫점 이하의 값이 있으니 연속형이라고 볼 수 있다.

    mpg  cylinders  displacement  ...  model year  origin                       name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino
5  15.0          8         429.0  ...          70       1           ford galaxie 500
6  14.0          8         454.0  ...          70       1           chevrolet impala
7  14.0          8         440.0  ...          70       1          plymouth fury iii

[8 rows x 9 columns]

### check columns
- 연속형: displacement, horsepower, weight, acceleration, mpg,
- 분류형: model year, name, cylinders, origin
- 중립형:

In [31]:
df['name'].value_counts()

ford pinto                     6
toyota corolla                 5
ford maverick                  5
amc matador                    5
peugeot 504                    4
                              ..
chevrolet concours             1
dodge colt hatchback custom    1
pontiac firebird               1
volkswagen jetta               1
chevrolet nova custom          1
Name: name, Length: 305, dtype: int64

In [27]:
df['mpg'].describe(include='all')

count    398.000000
mean      23.514573
std        7.815984
min        9.000000
25%       17.500000
50%       23.000000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64

In [28]:
df['mpg'].value_counts()    # 소숫점 이하의 값이 있으니 연속형이라고 볼 수 있다.

13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
34.2     1
38.1     1
37.2     1
32.1     1
32.7     1
Name: mpg, Length: 129, dtype: int64

In [29]:
df['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

In [30]:
df['origin'].value_counts()

1    249
3     79
2     70
Name: origin, dtype: int64

## 정규화 단계
x와 y형으로 나눈다.

In [35]:
Y = df['mpg']
X_continues = df[['displacement', 'horsepower', 'weight', 'acceleration']]
X_category = df[['model year', 'cylinders', 'origin']]

In [36]:
from sklearn import preprocessing

In [38]:
scaler = preprocessing.StandardScaler()
type(scaler)

sklearn.preprocessing._data.StandardScaler

In [39]:
scaler.fit(X_continues)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [40]:
X = scaler.transform(X_continues)

In [41]:
from sklearn.linear_model import LinearRegression

In [43]:
lr = LinearRegression()
type(lr)

sklearn.linear_model._base.LinearRegression

In [44]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
lr.score(X,Y)

0.7061364273740109

In [47]:
import pickle
pickle.dump(lr, open('./autompg_lr.pkl','wb'))